*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: Cambria;
    color: #eee;
}

body{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(44,0,62), rgba(69,4,106,0.95)) no-repeat center fixed; /* #2c003e, #45046a, #2c003e */
    background-size: cover;
}

a{
    text-decoration: none;
    color: #eee;
}

p{
    font-size: 1.8rem;
    font-weight: 300;
}

img{
    width: 100%;
}

section{
    padding: 6rem 0;
}

/* Container bit */
.container{
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.section-heading{
    text-align: center;
    margin-bottom: 10rem;
}

.section-heading h6{
    text-align: center;
    margin-top: 3rem;
    font-size: 2rem;
}

.section-heading h1{
    font-size: 6rem;
    color: rgba(255, 255, 255, .6);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
    margin-top: 10rem;
    font-weight: 200;
}

.section-heading h1::before,
.section-heading h1::after{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.75);
}

.section-heading h1::before{
    width: 10rem;
    height: 3px;
    border-radius: .8rem;
}

.section-heading h1::after{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -1rem;
}

.has-margin-right{
    margin-right: 5rem; 
}
/* end of container bit */
header{
    width: 100%;
    height: 100vh;
    /* background: url('../images/beach.jpg') no-repeat; */
    background: linear-gradient(rgba(44,0,62,0.45), rgba(69,4,106,0.45)),url("../images/beach.jpg") no-repeat center scroll;
    background-size: cover;
}

/* Navigation options */
.top-nav{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    background-color: #16162d;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1, 0, 0, 1);
    z-index: 2;
    /* z-index: 2; Make sure the transition is not overlaped */
}

.nav-list{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    margin: 0.2rem;
}

.nav-link{
    font-family: Cambria;
    font-size: 5rem;
    padding: 1rem;
}

.nav-link:hover,
.nav-link:focus{
    background: linear-gradient(to top, #ffe838, #e73838);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-nav.open{
    top: 0;
    border-radius: initial;
    z-index: 2;
}

/* Toggler bars portion */
.menu-toggler{
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
}

.menu-toggler.open{
    transform: rotate(-45deg);
}

.bar{
    background: linear-gradient(to right, #ffe838, #e73838);
    width: 100%;
    height: 4px;
    border-radius: .8rem;
}

.bar.half{
    width: 50%;
}

.bar.start{
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start{
    transform: rotate(-450deg) translate(.8rem);
}

.open .bar.end{

    transform: rotate(-450deg) translate(-.8rem);
}

.bar.end{
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

/* Landing page section */
.landing-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}

.landing-text h1{
    font-size: 7rem;
    font-family: Cambria;
    background:linear-gradient(to bottom, #ffa41b, #ff5151); /*linear-gradient(to top, #ffbd69, #ff6363) // #d3f4ff // orange: #ffa41b*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none;
}

.landing-text h6{
    font-size: 3rem;
    font-weight: 350;
}

.icons {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    justify-content: space-between;
    display: flex;
    margin-top: 3rem;
}
.landing-icons{
    height: 50px;
    width: 50px;
    filter: invert(100%);
}

/* About me Section */
.about{
    margin-top: 10rem;
}

.about .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-heading{
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-top: 3rem;
    margin-bottom: 6rem;
}

.about-heading h1{
    font-size: 6rem;
    opacity: .6;
}

.about-heading h6{
    font-size: 2rem;
    font-weight: 200;
}

.profile-img img{
    margin-right: 5rem;
    margin-left: 2rem;
    width: 40rem;
    height: 40rem;
    float: right;
    border-radius: 50%;
    border: 1rem solid white;
}

.about-details p{
    margin-left: 5rem;
    margin-top: 9rem;
}

.about-details{
    flex: 1;
}

/* Skills section */

.skills{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
}

.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.skill h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;

}

.icon-container{
    width: 10rem;
    height: 10rem;
    border: 3px solid #eeeeee;
    background-color: #ff5151;
    margin-bottom: 2rem;
    display: flex;
    transform: rotate(45deg);
}

.icon-container img{
    filter: invert(100%);
    width: 75%;
    height: 75%;
    margin: auto;
    transform: rotate(-43deg);
}

/* AWARDS SECTION */
.awards-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.awards-description{
    flex: 1;
    text-align: center;
}

.awards-description h6{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.3;
}

.awards-description h1{
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem 0;
}

.awards-img{
    flex: 2;
    width: 50rem;
}

/* .awards-icons{
    height: 50px;
    width: 50px;
    filter: invert(100%);
    margin-top: 3rem;
} */

/* experience section */

.timeline ul{
    border-left: 4px solid #fdb821;
    border-radius: .8rem;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    position: relative;
    padding: 5rem;
    list-style: none;
    text-align: left;
    width: 70%;
}

.timeline h1{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    opacity: 0.5;
}

.timeline .date{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 1rem;
    margin-bottom:1rem;
    position: relative;
}

.timeline .date::before,
.timeline .date::after{
    position: absolute;
    display: block;
    top: 50%;
    /* transform: translateY(50%); */

}

.timeline .date::before{
    content: attr(data-date);
    left: -22rem;
    text-align: right;
    min-width: 12rem;
    font-size: 1.5rem;
}

.timeline .date::after{
    content: '';
    box-shadow: 0 0 0 4px #fd57bf;
    /* border-radius: 100%; */
    left: -6.15rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: rgb(34, 28, 28);
    transform: rotate(-45deg);
}
/* For now, this is of no need :) */
/* 
For now, this is of no need :)

.timeline .date:last-of-type{
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
} 
*/
/* Projects section */
.projects-item{
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
    margin: 1rem auto;
    width: 70%;
    height: 30rem;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 16px;
}

.projects-description{
    flex: 1;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.projects-description h6{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 200;
    opacity: 0.5;
    margin-bottom: 3rem;
}

.project-icons {
    height: 30px;
    width: 30px;
    filter: invert(100%);
    margin-top: 3rem;
    margin-left: 1rem;
}

.projects-description p{
    font-size: 1.5rem;
}

.projects-img{
    flex: 0.5;
    margin-left: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.projects-img img{
    width: 80%;
    float: right;
    border: 3px solid white;
}
/* Media part */
@media screen and (max-width: 1000px) {
    .landing-text h1{
        font-size: 7rem;
        margin: auto auto;
    }
    .about-details{
        flex-direction: column;
    }
    .profile-img img{
        position: relative;
        display: flex;
        float: none;
        margin: 0 auto;
    }
    .about-details p{
        /* position: relative; */
        /* display: flex; */
        margin-top: 3rem;
    }
}
@media screen and (max-width: 768px) {
        
    body{
        background: linear-gradient(rgba(44,0,62), rgba(69,4,106,0.95)) no-repeat center fixed;
        background-size: cover;
    }

    .landing-text h1{
        font-size: 7rem;
        margin-top: 10rem;
    }

    .landing-text h6{
        font-size: 3rem;
    }

    .nav-list{
        flex-direction: column;
    }

    li{
        margin: 2rem 0;
    }

    .nav-link{
        font-size: 4.5rem;
    }

    .about-heading h1{
        font-size: 3rem;
    }

    .section-heading h1{
        font-size: 3rem;
    }

    .about-details .nav-list{
        flex-direction: initial;
    }

    .icon-container{
        width: 7rem;
        height: 7rem;
    }

    .icon-container img{
        width: 50%;
        height: 50%;
    }

    .timeline ul{
        margin: 0 0 0 auto;
    }

    .timeline .date::before{
        left: -21.5rem;
    }

    /* change this */
    .timeline .date::after{
        left: -6.15rem;
    }

    .projects-img {
        display: none;
    }

    .projects-item.aos-init.aos-animate{
        height: 40rem;
        width: 80%;
    }
}
@media screen and (max-width: 600px) {
    .timeline ul{
        margin: auto auto;
    }

    .timeline .date::before{
        content: '';
    }
    
    .menu-toggler{
        top: 2rem;
        right: 2rem;
    }

    .landing-text h1{
        font-size: 4rem;
    }

    .landing-text h6{
        font-size: 1.5rem;
    }

    .nav-link{
        font-size: 3.5rem;
    }

    .about .container{
        flex-direction: column;
    }

    .profile-img img{
        margin: 0 auto;
    }

    .awards-item{
        flex-direction: column;
    }

    .awards-description{
        margin: 0;

    }

    .timeline p{
        font-size: 1.6rem;
    }

    .timeline .date::before{
        font-size: 1.4rem;
    }

    form{
        width: 100%;
    }
}
/* Canvas styling */

/* #canvas1{
    position: absolute;
    width: 100%;
    /* background: linear-gradient(#25364f, #3d72a5, #4487e6);
    z-index: -1;
} */

/* Misc section */

.misc{
    margin-bottom: 3rem;
}

.misc-details p{
    margin-left: 5rem;
    margin-top: 9.5rem;
    text-align: center;
}