*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: #eee;
}

body{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(44,0,62), rgba(69,4,106,0.95)) no-repeat center fixed; /* #2c003e, #45046a, #2c003e */
    background-size: cover;
}

a{
    text-decoration: none;
    color: #eee;
}

p{
    font-size: 1.8rem;
    font-weight: 300;
}

img{
    width: 100%;
}

section{
    padding: 6rem 0;
}